<style>

.comments{
    background: #E59866;
          opacity: 1;
          border-radius: 18px;
          padding-top: 5px;
          padding-bottom: 5px;
          margin-right: 500px;
          text-align:center;

}
</style>


<% content_for :body_class, 'bg-light' %>

<section class="section seller-show">
  <div class="columns" >
  <div class="column is-two-fifths" style="position:relative">
      <div class="feature-image"  >
        <%= image_tag(@seller.image_url(:default)) %>
      </div>

       

    
          <div class="control has-icons-left">
              
      <% if user_signed_in? && current_user.id != @seller.user_id %>
      <%= button_to "Talk To Seller", conversations_path(sender_id: current_user.id, recipient_id: @seller.user.id), method: 'post', class:"button is-info add-to-cart" %>
       <span class="icon is-small is-left">
                  <i class="fa fa-comments"></i>
                </span>
    <% elsif user_signed_in? && current_user.id == @seller.user_id  %>
      <%= link_to "Your Conversations", conversations_path , class:"button is-success add-to-cart"%>
      <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
    <% else %>

    <%= link_to "Sign up to message #{@seller.user.name}", new_user_registration_path %>
    <% end %>

      

  </div>
            

            
              <br>
              
                 <div class="control has-icons-left">
      <%= button_to 'Add to cart', cart_items_path(seller_id: @seller), class: 'button is-link add-to-cart' %>
              
                <span class="icon is-small is-left">
                  <i class="fa fa-shopping-cart"></i>
                </span>
              </div>
              

               </div>
     


  

  <div class="column">
     <ul class="pv1">
        <% if @seller.brand? %>
        <li class="inline-block pr3 f2"><%= @seller.brand %></li>
        <% end %>


    <li class="inline-block pr3 f2"><%= @seller.model %></li>
    <li class="inline-block pr3 f2"><%= @seller.category %></li>
    <br>
    <br>
    <br>
    <li class="inline-block pr3 f2"><strong>Rs. <%= @seller.price %></strong></li>
<br>
<br>
<br>
<br>
    <li class="align-left f4">Warranty: <%= @seller.warranty %></li>
    <br>
    <br>
    <li class="align-left f4">Seller:  <%= @seller.user.name %></li>
    <br>
    <br>
    <li class="align-left f4">Description:  
      <div style="color:#17202A; text-align: left; font-size:18px; padding-left: 30px;" >
      <%= @seller.description %>
    </div>
  </li>
  
  <br>
  <br>

  <div class="column" style="border:1px solid #D7DBDD ">
  <li class="inline-block pr3 f3"><strong>Specifications: </strong></li>
  <br>
  <br>
  <table class="table is-narrow">
        <% if @seller.condition %>
        <tr>
          <td class="has-text-weight-bold">Condition:</td>
          <td><%= @seller.condition %></td>
        </tr>
        <% end %>

       

        <% if @seller.brand %>
          <tr>
            <td class="has-text-weight-bold">Brand:</td>
            <td><%= @seller.brand %></td>
          </tr>
        <% end %>

        <% if @seller.model %>
          <tr>
            <td class="has-text-weight-bold">Model:</td>
            <td><%= @seller.model %></td>
          </tr>
        <% end %>

          <% if @seller.color %>
          <tr>
            <td class="has-text-weight-bold">Color:</td>
            <td><%= @seller.color %></td>
          </tr>
        <% end %>

      </table>
    </div>
<br>
<br>

    <div class="column" style="border:1px solid #D7DBDD ">
  <li class="inline-block pr3 f3"><strong>Rating and Review: </strong></li>
  
  <hr>
  <div style="background-color: #EAECEE;  border-radius:20px; display:block;">
  <%= render @seller.comments %>
  

</div>

<br>
<strong><p class="comments">Add Review</p></strong><br>
  
  <%= render "comments/form" %>



    </div>
<br>
<br>


 </div>
</ul>
     <% if user_signed_in? && @seller.user_id ==  current_user.id %>
         <%= link_to 'Edit', edit_seller_path(@seller), class: 'button is-link' %>
         <%end%>



       </div>

</section>




