<style>

.comments{
    background: #E59866;
          opacity: 1;
          border-radius: 18px;
          padding-top: 5px;
          padding-bottom: 5px;
          margin-right: 500px;
          text-align:center;

}


#myDIV {
}
    #user-chat-box{
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 1px solid grey;
    height: 350px;
    width: 300px;
  }
     #chat-messages-list{
      list-style: none;
      padding: 10px;
      height: 83%;
      background-color: white;
      overflow: auto;
    }
      .other-message{
        text-align: left;
        padding: 5px;
      }
      

          

.self-message{
        text-align: right;
        padding: 5px;
      }
       
               
      
    #chat-message-input-container{
          height: 30%;
        width: 100%;
        display: flex;
        flex-direction: row;
      }
        #msg{
            height: 50%;
          width: 70%;
        }
        #send{
            height: 50%;
          width: 30%;
          font-size: 25px;
          color: white;
          border: none;
          background:#1AABEE  ;
        }
      

</style>


<% content_for :body_class, 'bg-light' %>

<section class="section seller-show">
  <div class="columns" >
  <div class="column is-two-fifths" style="position:relative">
      <div class="feature-image"  >
        <%= image_tag(@seller.image_url(:default)) %>
      </div>
    
        
              
              <div class="control has-icons-left">
      <%= button_to 'Add to cart', cart_items_path(seller_id: @seller), class: 'button is-link add-to-cart' %>
              
                <span class="icon is-small is-left">
                  <i class="fa fa-shopping-cart"></i>
                </span>
              </div>
            <br>

             <div class="control has-icons-left">
      <button onclick="myFunction()"  class='button is-info add-to-cart'  >Talk to Seller</button> 


              
                <span class="icon is-small is-left">
                  <i class="fa fa-comments"></i>
                </span>
                <div id="myDIV">
    <% if user_signed_in? %>
      <div id="user-chat-box">
        <ul id="chat-messages-list">
          <li class="other-message">
            <span style="background-color:#F3AD87  ;">
            Other Message</span>
          </li>
          <li class="self-message">
            <span style=" background-color: #BBF5CF  ;">
              Self Message
            </span>
            
          </li>
         </ul>
        <div id="chat-message-input-container">
          <input id="msg" placeholder="Type message here">
          <button id="send"><i class="fa fa-paper-plane""></i></button>
        </div>
       </div>
    <% end %>
</div>
              </div>
            </div>
     


  

  <div class="column">
     <ul class="pv1">
        <% if @seller.brand? %>
        <li class="inline-block pr3 f2"><%= @seller.brand %></li>
        <% end %>


    <li class="inline-block pr3 f2"><%= @seller.model %></li>
    <li class="inline-block pr3 f2"><%= @seller.category %></li>
    <br>
    <br>
    <br>
    <li class="inline-block pr3 f2"><strong>Rs. <%= @seller.price %></strong></li>
<br>
<br>
<br>
<br>
    <li class="align-left f4">Warranty: <%= @seller.warranty %></li>
    <br>
    <br>
    <li class="align-left f4">Seller:  <%= @seller.user.name %></li>
    <br>
    <br>
    <li class="align-left f4">Description:  
      <div style="color:#17202A; text-align: left; font-size:18px; padding-left: 30px;" >
      <%= @seller.description %>
    </div>
  </li>
  
  <br>
  <br>

  <div class="column" style="border:1px solid #D7DBDD ">
  <li class="inline-block pr3 f3"><strong>Specifications: </strong></li>
  <br>
  <br>
  <table class="table is-narrow">
        <% if @seller.condition %>
        <tr>
          <td class="has-text-weight-bold">Condition:</td>
          <td><%= @seller.condition %></td>
        </tr>
        <% end %>

       

        <% if @seller.brand %>
          <tr>
            <td class="has-text-weight-bold">Brand:</td>
            <td><%= @seller.brand %></td>
          </tr>
        <% end %>

        <% if @seller.model %>
          <tr>
            <td class="has-text-weight-bold">Model:</td>
            <td><%= @seller.model %></td>
          </tr>
        <% end %>

          <% if @seller.color %>
          <tr>
            <td class="has-text-weight-bold">Color:</td>
            <td><%= @seller.color %></td>
          </tr>
        <% end %>

      </table>
    </div>
<br>
<br>

    <div class="column" style="border:1px solid #D7DBDD ">
  <li class="inline-block pr3 f3"><strong>Rating and Review: </strong></li>
  
  <hr>
  <div style="background-color: #EAECEE;  border-radius:20px; display:block;">
  <%= render @seller.comments %>
  

</div>

<br>
<strong><p class="comments">Add Review</p></strong><br>
  
  <%= render "comments/form" %>



    </div>
<br>
<br>


 </div>
</ul>
     <% if user_signed_in? && @seller.user_id ==  current_user.id %>
         <%= link_to 'Edit', edit_seller_path(@seller), class: 'button is-link' %>
         <%end%>



       </div>

</section>




